:root {
    --vermelho-logo: #FE4552;
    --cinza-backgrund: #101823;
    --branco: #fff;
    --scroll-bar: #000000; 
    --scroll-bar-backgrund: #1f252e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cinza-backgrund);
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .logo {
    display: flex;
    padding: 5px;
    align-items: center;
}

.logo .logo_txt {
    margin-left: 5px;
    color: var(--vermelho-logo);
}

.header .menu {
    margin-right: 50px;
}

ul {
    list-style-type: none;
    display: flex;
}

.header .title {
    text-decoration: none;
    color: var(--vermelho-logo);
}

.menu a {
    text-decoration: none;
    padding: 20px;
    color: var(--vermelho-logo);
    font-size: 20px;
    transition: 0.2s;
    margin: 3px;
}

.menu a:hover {
    background-color: var(--vermelho-logo);
    color: var(--cinza-backgrund);
    border-radius: 3px;
}

.banner {
    height: 95vh;
    background-image: url(../images/intro_valorant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download {
    font-size: 3.1rem;
    padding: 20px;
    color: var(--vermelho-logo);
    background-color: var(--cinza-backgrund);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.download:hover {
    color: var(--cinza-backgrund);
    background-color: var(--vermelho-logo);
    font-size: 3.5rem;
}

.sobre {
    background-color: var(--cinza-backgrund);
}

.sobre .texto {
    display: flex;
    flex-direction: column;
    padding: 35px;
    color: var(--branco);
    align-items: center;
}

.sobre .texto p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    width: 45%;
}

.sobre .texto hr {
    margin: 25px;
    width: 10%;
}

.sobre .imagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10px;
}

.sobre .imagens img {
    border: 3px solid var(--branco);
    border-radius: 3px;
    width: 95%;
    margin: 10px auto;
    transition: 0.2s;
}

.sobre .imagens img:hover {
    transform: scale(1.02);
}