::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scroll-bar);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--scroll-bar-backgrund);
}